<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <title> Módulo Propostas</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css?Hash=V107">
    <link href="css/custom.css" rel="stylesheet?Hash=V107" />
</head>

<body ng-cloak" ng-controller="newPasswordController">
        
    <div id="todo" ng-show="ShowPage">
        <div class="app">
            <div class="app-container">
                <div class="app-header app-header-design-default">
                    <ul class="app-header-buttons" ng-show="loading || routeloading" style="margin-top:5px">
                        <li>
                            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                        </li>
                    </ul>

                    <ul class="app-header-buttons" style="margin-top:10px;margin-left:20px" ng-show="!loading && !routeloading">
                        <li>
                            <span style="font-weight:bold;font-size:15px">SIM- Módulo Propostas- Alteração de Senha</span>
                        </li>
                    </ul>
                </div>
                <div class="block" style="max-width:600px;margin-top:20px;margin-left:20px">
                    <form name="formSignPassoword" ng-submit="SetPassword()">
                        <div class="form-group">
                            <label for="txtSenha1">Senha</label>
                            <input type="password" class="form-control" id="txtSenha1" ng-model="NewPassword.Senha1" placeholder="Digite a nova senha" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="txtSenha2">Repita a Senha</label>
                            <input type="password" class="form-control" id="txtSenha2" ng-model="NewPassword.Senha2" placeholder="Repita a nova senha">
                        </div>
                        <div class="form-group">
                            <label for="txtToken">Token</label>
                            <input type="text" class="form-control" id="txtToken" ng-model="NewPassword.Token" placeholder="Digite ou copie o Token recebido no email">
                        </div>

                        <button type="submit" class="btn btn-success" ng-disabled="!NewPassword.Senha1 || !NewPassword.Senha2  || NewPassword.Senha1 !=NewPassword.Senha2 || !NewPassword.Token " )">Enviar</button>
                        <a ng-href="{{pageUrl}}" class="btn btn-primary">Ir para o Sistema</a>
                    </form>
                    <div ng-show="Aviso">
                        <div class="alert alert-warning alert-icon-block margin-top-20" role="alert">
                            <div class="alert-icon">
                                <span class="icon-checkmark-circle"></span>
                            </div>
                            <strong>Atenção!</strong> <br />
                            {{Aviso}}
                            <button type="button" class="close" ng-click="Aviso=''" aria-label="Close"><span class="fa fa-times"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====================================================================================angular scripts-->
        <script src="angular/angular-bin/angular.min.js?Hash=V107"></script>
        <script src="angular/angular-route/angular-route.min.js?Hash=V107"></script>
        <script src="angular/angular-cookies/angular-cookies.min.js?Hash=V107"></script>
        <!------------------------------------- IMPORTANT SCRIPTS ---------------------------------->
        <script type="text/javascript" src="js/vendor/jquery/jquery.min.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/jquery/jquery-migrate.min.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/jquery/jquery-ui.min.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/moment/moment.min.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js?Hash=V107"></script>

        <!------------------------------------- Page SCRIPTS ---------------------------------->
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap.min.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js?Hash=V107"></script>
        <script type="text/javascript" src="js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js?Hash=V107"></script>
        <script src="js/vendor/noty/jquery.noty.packaged.js"></script>

        <!------------------------------------- App SCRIPTS ---------------------------------->
        <script type="text/javascript" src="js/app.js?Hash=V107"></script>
        <script type="text/javascript" src="js/app_plugins.js?Hash=V107"></script>
        <!------------------------------------- Controller/api/service ---------------------------------->
        <script src="js/SimLib.js?Hash=V107"></script>
        <script src="js/dictionary.js?Hash=V107"></script>


        <script src="angular/Module/app.js?Hash=V107"></script>
        <script src="angular/config/base_url_config.js?Hash=V107"></script>
        <!--<script src="angular/config/route_config.js"></script>-->
        <script src="angular/interceptor/errorInterceptor.js?Hash=V107"></script>
        <script src="angular/interceptor/interceptorsConfig.js?Hash=V107"></script>
        <script src="angular/interceptor/loadingInterceptor.js?Hash=V107"></script>
        <script src="angular/interceptor/timestampInterceptor.js?Hash=V107"></script>
        <script src="angular/Services/httpService.js?Hash=V107"></script>
        <script src="angular/Services/tokenApi.js?Hash=V107"></script>
        <script src="angular/Controller/NewPasswordController.js?Hash=V107"></script>
    </div>
</body>
</html>
<script type="text/javascript">

</script>
