<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Timeout" value="60" />
    <add key="TCPIP" value="true" />
    <add key="ApplicationName" value="SCTVWEB" />
    <add key="Computer" value="CARTV" />
    <!--<add key="DataSource" value="200.241.193.84,49168" />-->
    <add key="DataSource" value="200.241.193.84,1433" />
    <add key="Database" value="SCTV_CARTV" />
    <add key="POOLING" value="TRUE" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SQLMODE" value="APP" />
    <!--SQL=Requer Login no Sql, WINDOWS=Requer Login no Dominio , APP=Login/Senha Fixos na Aplicacao-->
    <add key="SQLUSER" value="776839944851676758421966021473143733254714565707021123510268866315232198911085744644254869566081511972511422711974422971666192966646911195311970176208276979966646744534533191076537966085766314511642054427833975500191444201176197633643633753644863210869711083466971533081132648966756132208366860276088" />
    <!--Somente para authenticacao APP-->
    <add key="SQLPASSWORD" value="143883944250432966743859143694654628176262621257076343744590622423065757400751644082143648855755400531221539366530343089121538021427154208276209522972210539355200065207043537132648666082110758344860844755165197322310010757265649955646232429911426444421043317455861076867744424844755644643132758221759" />
    <!--Somente para authenticacao APP-->
    <add key="EmailFrom" value="suporte@cartv.com.br" />
    <add key="EmailSuporte" value="joao_maria001@hotmail.com" />
    <add key="SmtpUser" value="suporte@cartv.com.br" />
    <add key="SmtpServer" value="smtp.cartv.com.br" />
    <add key="SmtpPwd" value="776165310473743886732347654435610735110750911224600313855755143868232319366530600313744314922756444861221319744204533202376199110978633643511972666533811755010867210649666643666423711083655753633863711534165197433311433531276429811975500081644423633753933646422971065207422421276198511191655753422311" />
    <add key="SmtpPorta" value="587" />
  </appSettings>

  <system.web>
    <machineKey validationKey="FF1809404B14C81A33AEE37CD99B8F836D0F2BA1E148F8EDD1480C69D7FD290416A04E89EF3B0CADB937A20F6B8292F56BA704BD36EE3B97EAE2BF736E124684" decryptionKey="BD290B89AB18836F9E1E06B167B0CE246311BCD5DC992D10" validation="SHA1" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxUrlLength="4096" />
    
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <staticContent>
            <remove fileExtension=".,dbf" />
        </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>