<style>
    input {
        text-transform: uppercase
    }

    td {
        white-space: nowrap;
    }
</style>
<div class="container">

    <!--Div do grid-->
    <div id="divGrid" class="block table-responsive" style="min-height:500px">
        <div class="row">

            <div class="col-md-6">
                <div class="alert alert-primary alert-icon-block" role="alert">
                    <div class="alert-icon">
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <strong>Valoração por Contrato</strong>
                </div>
                <div class="block">
                    <button class="btn btn-default btn-icon-fixed btn-sm"
                            ng-click="AdicionarCalculoValoracao()">
                        <span class="fa fa-plus" ng-disabled="true"></span> Adicionar
                    </button>

                    <table id="tbCalculoValoracao" class="table table-bordered" style="border:solid 2px #e5e5e5 !important">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Cod.Empresa</th>
                                <th>Contrato</th>
                                <th>Seq</th>
                                <th ng-show="!PermissaoNego">Numero_Negociacao</th>
                                <th ng-show="!PermissaoNego">Competencia</th>
                                <th ng-show="!PermissaoNego">Indica_Valoracao</th>
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <!--====================================Linhas de input-->
                            <tr ng-repeat="CalculoValoracao in CalculoValoracaoS track by $index">
                                <td>
                                    <span class="fa fa-trash span-btn" style="font-size:18px" ng-click="CalculoValoracaoExcluir(CalculoValoracao)"></span>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   ng-model="CalculoValoracao.Cod_Empresa"
                                                   ng-change="ValidarEmpresa(CalculoValoracao)"
                                                   ng-model-options="{updateOn: 'blur'}"
                                                   size='3' value=''
                                                   onkeypress='return NumericOnly(event)'
                                                   maxlength="3" />
                                            <div class="input-group-addon">
                                                <span class="fa fa-search span-btn" ng-click="PesquisaEmpresa(CalculoValoracao)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <input type="text"
                                           class="form-control"
                                           ng-model="CalculoValoracao.Numero_Mr"
                                           size='6' value=''
                                           onkeypress='return NumericOnly(event)'
                                           maxlength="6" />
                                </td>

                                <td>
                                    <input type="text"
                                           class="form-control"
                                           ng-model="CalculoValoracao.Sequencia_Mr"
                                           ng-change="ValidarContrato(CalculoValoracao)"
                                           size='2' value=''
                                           onkeypress='return NumericOnly(event)'
                                           maxlength="2" />
                                </td>
                                <td ng-model="CalculoValoracao.Numero_Negociacao" ng-show="!PermissaoNego"></td>
                                <td ng-model="CalculoValoracao.Competencia" ng-show="!PermissaoNego"></td>
                                <td ng-model="CalculoValoracao.Indica_Valoracao" ng-show="!PermissaoNego"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!------------------------- Negociação/Pendentes--------------------->
            <div class="col-md-6">


                <div class="alert alert-primary alert-icon-block" role="alert">
                    <div class="alert-icon">
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <strong>Negociação/Pendentes</strong>
                </div>

                <div class="block">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dictionary" dictionary="Competencia">
                                <input ng-model="CalculoValoracao.Competencia"
                                       style="width:100px"
                                       ui-MesAno ng-model-options="{updateOn: 'blur'}"
                                       placeholder="Informe a Competência">
                                <div class="dictionary-ui-competencia" ui-Competencia typmesano="CalculoValoracao.Competencia" params="CompetenciaKeys"></div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="field-x">Numero Negociação</label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           onkeypress="return NumericOnly(event)"
                                           maxlength="6"
                                           ng-model="CalculoValoracao.Numero_Negociacao" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--====================Valoração Contrato Pendentes -->
                        <div class="col-md-8 margin-top-10">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="app-checkbox">
                                        <label><input type="checkbox" name="app-checkbox-1" ng-model="CalculoValoracao.Indica_Valoracao" />Valorar Contratos pendentes de valoração<span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fixed-buttons-bottom">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-sm"
                                        style="margin:0px 0px !important"
                                        ng-click="SalvarCalculoValoracao(CalculoValoracaoS,CalculoValoracao)">
                                    Ok
                                </button>
                                <!--<button class="btn btn-warning btn-sm" style="margin:0px 0px !important" ng-click="CancelaEdicao()">Cancela</button>-->
                                <!--<a href="#CalculoValoracao" class="btn btn-warning">Cancelar</a>-->
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
        </div>

    </div>

</div>
<div ng-include="'template/SelectItem.html'"></div>
<div ng-include="'template/PesquisaTabela.html'"></div>
<script type="text/javascript">
    $(document).ready(function () {
        GetDictionary();
        $('#ExportReporttoExcel').on('click', function () {
            $('.buttons-excel').click()
        });
    });
</script>
