<style>
    input {
        text-transform: uppercase;
    }

    td {
        white-space: nowrap;
    }
</style>
<div class="container">

    <!--Div do grid-->
    <div id="divGrid" class="block table-responsive" style="min-height:500px">
        <div class="row">

            <div class="col-md-6">
                <div class="alert alert-primary alert-icon-block" role="alert">
                    <div class="alert-icon">
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <strong>Valoração por Contrato</strong>
                </div>
                <div class="block" style="min-height:133px">
                    <button class="btn btn-default btn-icon-fixed btn-sm"
                            ng-click="AdicionarCalculoValoracao()">
                        <span class="fa fa-plus" ng-disabled="true"></span> Adicionar
                    </button>

                    <table id="tbCalculoValoracao" class="table table-bordered" style="border:solid 2px #e5e5e5 !important">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Cod.Empresa</th>
                                <th>Contrato</th>
                                <th>Seq</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--====================================Linhas de input-->
                            <tr ng-repeat="contrato in Contratos track by $index">
                                <td>
                                    <span class="fa fa-trash span-btn" style="font-size:18px" ng-click="CalculoValoracaoExcluir(CalculoValoracao)"></span>
                                </td>
                                <td>
                                    <div class="form-group form-group-sm">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   ng-model="contrato.Cod_Empresa"
                                                   ng-model-options="{updateOn: 'blur'}"
                                                   size='3' value=''
                                                   onkeypress='return NumericOnly(event)'
                                                   maxlength="3" />
                                            <div class="input-group-addon">
                                                <span class="fa fa-search span-btn" ng-click="PesquisaEmpresa(CalculoValoracao)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group form-group-sm">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="contrato.Numero_Mr"
                                               size='6' value=''
                                               onkeypress='return NumericOnly(event)'
                                               maxlength="6" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group form-group-sm">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="contrato.Sequencia_Mr"
                                               size='2' value=''
                                               onkeypress='return NumericOnly(event)'
                                               maxlength="2" />
                                    </div>
                                </td>

                                <td style="min-width:150px">{{contrato.Critica}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!------------------------- Negociação/Pendentes--------------------->
            <div class="col-md-6">
                <div class="alert alert-primary alert-icon-block" role="alert">
                    <div class="alert-icon">
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <strong>Competência/Negociação</strong>
                </div>

                <div class="block">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dictionary" dictionary="Competencia" caption="Todos da Competência">
                                <input ng-model="Negociacao.Competencia"
                                       style="width:100px"
                                       ui-MesAno ng-model-options="{updateOn: 'blur'}"
                                       placeholder="Informe a Competência">
                                <div class="dictionary-ui-competencia" ui-Competencia typmesano="Negociacao.Competencia" params="CompetenciaKeys"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="field-x">Todos da  Negociação</label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           onkeypress="return NumericOnly(event)"
                                           maxlength="6"
                                           ng-model="Negociacao.Numero_Negociacao" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-20">
                        <div class="col-md-12">
                            <p class="text-muted">{{Negociacao.Mensagem}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="fixed-buttons-bottom">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success "
                        style="margin:0px 0px !important"
                        ng-click="SalvarCalculoValoracao(Contratos,Negociacao)">
                    Salvar
                </button>
                <button class="btn btn-warning" style="margin:0px 0px !important" ng-click="CancelaEdicao()">Cancela</button>
            </div>
        </div>
    </div>

</div>
<div ng-include="'template/SelectItem.html'"></div>
<div ng-include="'template/PesquisaTabela.html'"></div>
<script type="text/javascript">
    $(document).ready(function () {
        GetDictionary();
        $('#ExportReporttoExcel').on('click', function () {
            $('.buttons-excel').click()
        });
    });
</script>
