<div class="container">
    <form name="frmCondPgtoCadastro" autocomplete="off">
        <div class="block">
            <div class="row">
                <!--===================Codigo-->
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="fieldrequired">Código</label>
                        <input type="text"
                               name="txtCod_Pgto"
                               ng-required="true"
                               ng-model="CondPgto.Cod_Condicao"
                               class="form-control"
                               ng-disabled="Parameters.Action=='Edit'"
                               ng-model-options="{updateOn: 'blur'}"
                               maxlength="6" />
                    </div>
                </div>
                <!--===================Descricao-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="fieldrequired">Descricao</label>
                        <input type="text" name="txtDescricao" class="form-control" ng-model="CondPgto.Descricao" maxlength="30" ng-required="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!--====================Qtde Dias-->
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="fieldrequired">Qtde Dias</label>
                        <input type="text" name="txtQtdeDias" class="form-control" ng-model="CondPgto.Qtd_Dias" maxlength="4" ng-required="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!--====================CondPgto.Sigla-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="fieldrequired">Sigla</label>
                        <input type="text" name="txtSigla" class="form-control" ng-model="CondPgto.Tipo_Vencimento" maxlength="20" ng-required="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!--===================Botoes-->
                <div class="row margin-top-20">
                    <div class="col-md-12">
                        <button class="btn btn-success" ng-click="SalvarCondPgto(CondPgto)"
                                ng-disabled="frmCondPgtoCadastro.$invalid">
                            Salvar
                        </button>
                        <!-- <button class="btn btn-danger" ng-click="ExcluirTipoComercial(TipoComercial)" ng-show="PermissaoExcluir">Excluir</button>-->
                        <!--<button class="btn btn-danger" ng-disabled="!PermissaoDestroy" ng-click="ExcluirMercado(Mercado) ">Excluir</button>-->
                        <button class="btn btn-danger" ng-click="ExcluirCondPgto(CondPgto) ">Excluir</button>
                        <a href="#CondPgto" class="btn btn-warning">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div ng-include="'template/SelectItem.html'"></div>
<script type="text/javascript">
        $(document).ready(function () {
            GetDictionary();
        });
</script>
