<style>
    #TbPastas th {
        border: solid 0px !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    table td, table th {
        border: solid 1px silver !important;
    }

    .LinhaCheck {
        color: green;
        font-size: 20px;
        float: left;
    }

    .LinhaTimes {
        color: Red;
        font-size: 20px;
        float: left;
    }

    .LinhaPrograma {
        background-color: #D7C9A0;
        text-align: center;
    }

    .LinhaBreak {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        background-color: #ededed !important;
        background-color: silver;
        text-align: center;
    }

    .FitaArtistica {
        background-color: seagreen;
        display: inline-block;
        width: 100px;
    }

    .FitaLocal {
        background-color: dodgerblue;
        display: inline-block;
        width: 100px;
    }

    .FitaAvulso {
        background-color: dodgerblue;
        display: inline-block;
        width: 100px;
    }

    .FitaPE {
        background-color: purple;
        display: inline-block;
        width: 100px;
    }

    .FitaNet {
        background-color: deeppink;
        display: inline-block;
        width: 100px;
    }

    .LinhaArtistico {
        color: seagreen;
    }

    .LinhaIntervaloLocal {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        text-align: center;
        color: dodgerblue;
        font-weight: bold;
    }

    .LinhaIntervaloNet {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        text-align: center;
        color: deeppink;
        font-weight: bold;
    }

    .LinhaIntervaloArtistico {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        text-align: center;
        color: seagreen;
        font-weight: bold;
    }

    .LinhaIntervaloPE {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        text-align: center;
        color: purple;
        font-weight: bold;
    }

    #divComerciais {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow-y: scroll;
    }

    td {
        white-space: nowrap;
    }

</style>
<div class="container" id="divContainer" style="overflow:scroll">
    <form id="frmConsultaRoteiroOrdenado" autocomplete="off">
        <!--=======================Filtro-->
        <div class="block" id="divFiltro" ng-show="ShowFiltro">
            

            <div class="row">
                <!--=======================Veiculo-->
                <div class="col-md-2  " ng-controller="dictionaryController">
                    <div class="dictionary" dictionary="Veiculo">
                        <input id="txtCodVeiculo" class="form-control"
                               ng-model="Filtro.Cod_Veiculo"
                               ng-model-options="{updateOn: 'blur'}"
                               ng-change="DicionaryValidate('txtCodVeiculo')"
                               primarybind="txtCodVeiculo"
                               secondarybind="txtNomeVeiculo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtNomeVeiculo" class="field-x" style="visibility:hidden">..</label>
                        <div class="input-group">
                            <input type="text" disabled="disabled" id="txtNomeVeiculo" class="form-control " ng-model="Filtro.Nome_Veiculo">
                        </div>
                    </div>
                </div>
                <!--==============================================Data Exibicao-->
                <div class="col-md-3">
                    <div class="dictionary" dictionary="Data" caption="Data Exibicao">
                        <input ng-model="Filtro.Data_Exibicao"
                               ui-date ng-model-options="{updateOn: 'blur'}">
                        <div class="dictionary-ui-calendar" ui-calendar typdate="Filtro.Data_Exibicao"></div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:33px">
                    <button class="btn btn-success" ng-click="CarregarGuiaProgramas(Filtro)">Ok</button>
                </div>
            </div>
            <!--==============================================Escolha dos Programas-->
            <div class="block margin-top-20" ng-show="ShowGuiaProgramas">
                <label>Selecione os Programas</label>
                <div class="row">
                    <div class="col-md-3" ng-repeat="prog in Filtro.Programas track by $index">
                        <div class="app-checkbox" style="width:auto;margin-top:5px">
                            <label><input type="checkbox" name="app-checkbox-1" ng-model="prog.Selected"> {{prog.Cod_Programa}}-{{prog.Titulo}}<span></span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="app-checkbox" style="width:auto;margin-top:5px">
                            <label><input type="checkbox" name="app-checkbox-1" ng-model="checkMarcar" ng-change="MarcarProgramas(checkMarcar)"> Selecionar Todos<span></span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="CarregarRoteiro(Filtro)">Carregar Roteiro</button>
                        <button class="btn btn-primary" ng-click="ImprimirRoteiro(Filtro)">Imprimir Roteiro</button>
                    </div>
                </div>
            </div>
        </div>
        <!--=======================Ordenacao-->
        <div class="row" ng-show="Roteiro.length>0 && Critica.length==0">
            <div class="col-md-12" id="divOrdenacao">
                <div class="block">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>N.Fita</th>
                                    <th>Com.</th>
                                    <th>Titulo Comercial</th>
                                    <th>Produto</th>
                                    <th>Dur.</th>
                                    <th>Tipo</th>
                                    <th>Emp/Contrato/Seq.</th>
                                    <!--<th>Contrato</th>
                            <th>Seq.</th>-->
                                    <th>Origem</th>
                                    <th>Break</th>
                                    <th>Ch.Acesso</th>
                                    <th>H.Exibição</th>
                                    <th colspan="4" style="text-align:center">Origem</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="item in Roteiro | orderBy:['Id_Item'] track by $index">
                                    <!--------Linha do programa-->
                                    <td class="LinhaPrograma"
                                        ng-show="item.Indica_Titulo_Programa">
                                        <span class="fa fa-check LinhaCheck" ng-show="item.Duracao==item.Encaixe"></span>
                                        <span class="fa fa-times LinhaTimes" ng-show="item.Encaixe>item.Duracao"></span>
                                    </td>
                                    <td colspan="13"
                                        class="LinhaPrograma"
                                        ng-show="item.Indica_Titulo_Programa">
                                        {{item.Cod_Programa}}-{{item.Titulo_Programa}}{{item.Hora_Inicio_Programa |date:'HH:mm'}} as {{item.Hora_Fim_Programa|date:'HH:mm'}}
                                        <span ng-class="item.Show?'fa fa-minus span-btn pull-right':'fa fa-plus -btn pull-right'"
                                              ng-click="fnShowHide(item.Id_Programa)">
                                        </span>
                                        <span class="pull-right">{{item.Encaixe}}/{{item.Duracao}}</span>
                                    </td>
                                    <!--------Linha do Break-->
                                    <td colspan="13" class="LinhaBreak"
                                        ng-show="item.Indica_Titulo_Break && item.Show">
                                        <span class="fa fa-check LinhaCheck" ng-show="item.Duracao==item.Encaixe"></span>
                                        <span class="fa fa-times LinhaTimes" ng-show="item.Encaixe>item.Duracao"></span>
                                        Break {{item.Break}} - {{item.Titulo_Break}} - {{item.Hora_Inicio_Break}}
                                        <!--<span class="pull-right">{{item.Encaixe}}/{{item.Duracao}}</span>-->
                                    </td>
                                    <!--------Linha do Intervalo Local e Net-->
                                    <td colspan="13" id="Target_Intervalo_{{item.Id_Item}}"
                                        ng-show="item.Indica_Titulo_Intervalo && item.Tipo_Break !=2 && item.Show"
                                        ng-class="{'LinhaIntervaloLocal': item.Tipo_Break==0, 'LinhaIntervaloNet': item.Tipo_Break==1,'LinhaIntervaloArtistico': item.Tipo_Break==2,'LinhaIntervaloPE': item.Tipo_Break==3}">
                                        <span class="fa fa-check LinhaCheck" ng-show="item.Duracao==item.Encaixe"></span>
                                        <span class="fa fa-times LinhaTimes" ng-show="item.Encaixe>item.Duracao"></span>
                                        Intervalo &nbsp;{{item.Nome_Tipo_Break}}
                                        <span class="pull-right">{{item.Encaixe}}/{{item.Duracao}}</span>
                                    </td>
                                    <!--------Linha do Intervalo Artistico / Nao tem drag   drop-->
                                    <td colspan="13" id="Target_Intervalo_{{item.Id_Item}}"
                                        ng-show="item.Indica_Titulo_Intervalo && item.Tipo_Break ==2 && item.Show"
                                        ng-class="{'LinhaIntervaloLocal': item.Tipo_Break==0, 'LinhaIntervaloNet': item.Tipo_Break==1,'LinhaIntervaloArtistico': item.Tipo_Break==2,'LinhaIntervaloPE': item.Tipo_Break==3}">
                                        <span class="fa fa-check LinhaCheck" ng-show="item.Duracao==item.Encaixe"></span>
                                        <span class="fa fa-times LinhaTimes" ng-show="item.Encaixe>item.Duracao"></span>
                                        {{item.Nome_Tipo_Break}}
                                        <span class="pull-right">{{item.Encaixe}}/{{item.Duracao}}</span>
                                    </td>



                                    <!--------Linha do Comercial-->
                                    <td id="Target_Comercial_Fita_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show">
                                        <label id="Target_Fitax_{{item.Id_Item}}"
                                               ng-show="item.Numero_Fita"
                                               ng-class="{'label FitaLocal':item.Tipo_Break==0, 'label FitaNet':item.Tipo_Break==1,'label FitaPE':item.Tipo_Break==3}">
                                            {{item.Numero_Fita}}

                                        </label>
                                        <label id="Target_Fitay_{{item.Id_Item}}"
                                               ng-show="!item.Numero_Fita"
                                               ng-class="{'label FitaLocal':item.Tipo_Break==0, 'label FitaNet':item.Tipo_Break==1,'label FitaPE':item.Tipo_Break==3}">
                                            Sem Número
                                        </label>
                                    </td>
                                    <td id="Target_Comercial_Com_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show"
                                        style="text-align:center">
                                        {{item.Cod_Comercial}}
                                    </td>

                                    <td id="Target_Comercial_Titulo_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show">
                                        {{item.Titulo_Comercial}}
                                        <!--<span id="Target_Comercial_Produto_{{item.Id_Item}}" ng-show="item.Nome_Produto">{{item.Nome_Produto}} / </span> {{item.Titulo_Comercial}}-->
                                    </td>


                                    <td id="Target_Comercial_Nome_Produto_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show">
                                        {{item.Nome_Produto}}
                                    </td>

                                    <td id="Target_Comercial_Dur_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show"
                                        style="text-align:right">
                                        {{item.Duracao}}
                                    </td>

                                    <td id="Target_Comercial_Tipo_Comercial_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show">
                                        {{item.Cod_Tipo_Comercial}}
                                    </td>

                                    <td id="Target_Comercial_EmpContratoSeq_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show" style="text-align:center">
                                        {{item.Cod_Empresa}}-{{item.Numero_Mr}}-{{item.Sequencia_Mr}}
                                    </td>

                                    <td id="Target_Comercial_Cod_Programa_Origem_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show">
                                        {{item.Cod_Programa_Origem}}
                                    </td>

                                    <td id="Target_Comercial_Break_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show" style="text-align:center">
                                        {{item.Break}}
                                    </td>

                                    <td id="Target_Comercial_Chave_Acesso_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show" style="text-align:center">
                                        {{item.Chave_Acesso}}
                                    </td>

                                    <td id="Target_Comercial_Hora_Inicio_Programa_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show" style="text-align:center">
                                        {{item.Horario_Exibicao |date:'HH:mm' }}
                                    </td>

                                    <td id="Target_Comercial_Veiculo_Origem_{{item.Id_Item}}"
                                        ng-show="item.Indica_Comercial && item.Show" style="text-align:center">
                                        {{item.Cod_Veiculo_Origem}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 
        <!--========================botoes de acoes-->
        <div class="fixed-buttons-bottom">
            <div class="col-md-12">

                <button class="btn btn-warning btn-sm" ng-click="CancelarRoteiro()">Cancela</button>
                <button class="btn btn-primary btn-sm margin-right-10" ng-click="MostrarTodos(Roteiro,true)" ng-show="Roteiro.length>0"><span class="fa fa-plus-square"></span></button>
                <button class="btn btn-primary btn-sm margin-right-10" ng-click="MostrarTodos(Roteiro,false)" ng-show="Roteiro.length>0"><span class="fa fa-minus-square"></span></button>
            </div>
        </div>
    </form>
</div><div ng-include="'template/SelectItem.html'"></div>
<div ng-include="'template/PesquisaTabela.html'"></div>
<script type="text/javascript">
    $(document).ready(function () {
        GetDictionary();
        var y = $(window).height();
        $("#divContainer").css('height', y);
        $("#divComerciais").css('height', y - 200);
    });
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    function drop(ev) {

        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var id_source = data.replace(/[^0-9,]+/g, "");
        var id_target = ev.target.id.replace(/[^0-9,]+/g, "");
        angular.element(document.getElementById('frmRoteiro')).scope().ConsisteOrdenacao(parseInt(id_source), parseInt(id_target));
    }
</script>
