<div class="container">

    <form name="frmContatoCadastro" autocomplete="off">
        <div class="block">
            <div id="divAbas">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12">
                        <button type="button" ng-class="currentTab=='Dados' ? 'btn btntab-Selected' : 'btn btntab'" ng-click="currentTab='Dados'" >Dados Principais</button>
                        <button type="button" ng-class="currentTab=='Empresa' ? 'btn btntab-Selected' : 'btn btntab'" ng-click="currentTab='Empresa'" >Empresas</button>
                    </div>
                </div>
            </div>
            <div id="divDados" ng-show="currentTab=='Dados'">
                <div class="row">
                    <!--===================Codigo-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="fieldrequired field-x">Código</label>
                            <input type="text"
                                   style="text-transform:uppercase"
                                   name="txtCod_Contato"
                                   ng-required="true"
                                   ng-model="Contato.Cod_Contato"
                                   class="form-control"
                                   ng-disabled="Parameters.Action=='Edit'"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="5" />
                        </div>
                    </div>
                    <!--===================Nome-->
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="fieldrequired field-x">Nome</label>
                            <input id="txtNome" type="text" size="50" name="txtNome" class="form-control" style="text-transform:uppercase" ng-model="Contato.Nome" maxlength="30" ng-required="true" />
                        </div>
                    </div>
                    <!--===================CGC-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="fieldrequired  field-x">CNPJ/CPF</label>
                            <input type="text" size="20" name="txtCGC" class="form-control cnpj" ng-model="Contato.CGC" maxlength="20" ng-required="false" />
                        </div>
                    </div>
                    <!--===================Indica_Cic_Cgc-->
                    <!--<div class="col-md-3">
                        <div class="form-group">
                            <label class="fieldrequired">Indica_Cic_Cgc</label>
                            <input type="text" size="1" name="txtIndica_Cic_Cgc" class="form-control" ng-model="Contato.Indica_Cic_Cgc" maxlength="1" ng-required="true" />
                        </div>
                    </div>-->
                    <!--===================Data_Desativacao-->
                    <!--<div class="col-md-2">
                        <div class="form-group">
                            <div class="dictionary" dictionary="Data" size="15" caption="Data Desativacao">
                                <input ng-model="Contato.Data_Desativacao"
                                       ui-date ng-model-options="{updateOn: 'blur'}">
                                <div class="dictionary-ui-calendar" ui-calendar typdate="Contato.Data_Desativacao"></div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <!--===================Email_Notificacao-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="fieldrequired field-x">Email_Notificacao</label>
                            <input type="email" size="200" name="txtEmail_Notificacao" class="form-control" style="text-transform:lowercase" ng-model="Contato.Email_Notificacao" maxlength="200" ng-required="false" />
                        </div>
                    </div>
                    <!--===================Login-->
                    <div class="col-md-3">  
                        <div class="form-group">
                            <label class="field-x">Login SCTV</label>
                            <input type="text" size="30" name="txtLogin" class="form-control" style="text-transform:uppercase" ng-model="Contato.Login" maxlength="30" ng-required="false" />
                        </div>
                    </div>
                    <!--===================Cod_Nucleo-->
                    <div class="col-md-2  " ng-controller="dictionaryController">
                        <div class="dictionary" dictionary="Nucleo">
                            <input id="txtCod_Nucleo"
                                   ng-model="Contato.Cod_Nucleo"
                                   ng-model-options="{updateOn: 'blur'}"
                                   ng-change="DicionaryValidate('txtCod_Nucleo')"
                                   primarybind="txtCod_Nucleo"
                                   secondarybind="txtNome_Nucleo">
                        </div>
                    </div>

                    <!--====================Nome Nucleo Rede-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="fieldrequired field-x" style="visibility:hidden">Descrição Rede</label>
                            <div class="input-group">
                                <input type="text" disabled="disabled" id="txtNome_Nucleo" class="form-control" ng-model="Contato.Nome_Nucleo">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <!--===================CNPJ_Empresa-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="fieldrequired field-x">CNPJ_Empresa</label>
                            <input type="text" size="30" name="txtCNPJ_Empresa" class="form-control cnpj" ng-model="Contato.CNPJ_Empresa" maxlength="20" ng-required="false" />
                        </div>
                    </div>
                    <!--===================Razao_Empresa-->
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="fieldrequired field-x">Razao_Empresa</label>
                            <input type="text" size="50" name="txtRazao_Empresa" class="form-control" style="text-transform:uppercase" ng-model="Contato.Razao_Empresa" maxlength="50" ng-required="false" />
                        </div>
                    </div>


                </div>
            </div>
            <div id="divEmpresas" ng-show="currentTab=='Empresa'">
               <div class="table-responsive" style="height:300px">
                   <table class="table table-bordered table-striped">
                       <thead>
                           <tr>
                               <th colspan="3" style="text-align:center">Empresas do Contato</th>
                           </tr>
                           <tr>
                               <th></th>
                               <th>Código</th>
                               <th>Razão Social</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="empresa in Contato.Empresas">
                               <td>
                                    <input type="checkbox" ng-model="empresa.Selected"/>
                               </td>
                               <td>{{::empresa.Cod_Empresa}}</td>
                               <td>{{::empresa.Nome_Empresa}}</td>
                           </tr>
                       </tbody>
                       
                   </table>
               </div>
            </div>
            <div id="divBotoes">
                <div class="row">
                    <!--===================Botoes-->
                    <div class="row margin-top-50">
                        <div class="col-md-12">
                            <button class="btn btn-success" ng-click="SalvarContato(Contato)"
                                    ng-disabled="frmContatoCadastro.$invalid">
                                Salvar
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="DesativarContato(Contato.Cod_Contato)" ng-disabled="!PermissaoDesativar"  ng-show="Parameters.Action=='Edit' && Contato.Status=='1'">Desativar</button>
                            <button  type="button" class="btn btn-info" ng-click="ReativarContato(Contato.Cod_Contato)" ng-disabled="!PermissaoDesativar"  ng-show="Parameters.Action=='Edit' && Contato.Status=='0'" >Reativar</button>
                            <button  type="button" class="btn btn-danger" ng-click="ExcluirContato(Contato)"ng-disabled="!PermissaoExcluir" ng-show="Parameters.Action=='Edit'" >Excluir</button>
                            <a href="#Contato" class="btn btn-warning">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div ng-include="'template/SelectItem.html'"></div>
<script type="text/javascript">
    $(document).ready(function () {
        GetDictionary();
    });
</script>
