<div class="container">
    <div class="block table-responsive" ng-show="ShowGrid">
        <!--===================================Botoes-->
        <a id="btnNovoEmpresa" class="btn btn-primary" ng-disabled="!PermissaoNew" href="#EmpresaCadastro/New/0">Nova Empresa</a>
        <!--<a a href="#tipodocumentoNew/New/0" id="btnNovoTipoDocumento" display="none"></a>-->

        <button id="ExportReporttoExcel" class="btn btn-warning" ng-disabled="Empresa.length==1">Exportar Excel</button>
        <div class="box table-responsive " style="min-height:600px">
            <table id="dataTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Codigo</th>
                        <th>Descricao</th>
                        <th>Sigla Jove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Empresa in Empresas track by $index" on-finish-render="ngRepeatFinished()">
                        <td style="width:50px;text-align:center">
                            <a href="#EmpresaCadastro/Edit/{{Empresa.Cod_Empresa}}" ng-show="PermissaoEdit">

                                <span class="fa fa-edit fa-2x"></span>
                            </a>
                        </td>
                        <td>{{::Empresa.Cod_Empresa}}</td>
                        <!--<td>{{::Empresa.Bairro}}</td>
                        <td>{{::Empresa.Cod_UF}}</td>
                        <td>{{::Empresa.CEP}}</td>
                        <td>{{::Empresa.CGC}}</td>
                        <td>{{::Empresa.Cidade}}</td>
                        <td>{{::Empresa.Empresa_Pertence}}</td>
                        <td>{{::Empresa.Endereco}}</td>
                        <td>{{::Empresa.Inscricao_Estadual}}</td>
                        <td>{{::Empresa.Inscricao_Municipal}}</td>-->
                        <td>{{::Empresa.Razao_Social}}</td>
                        <td>{{::Empresa.Cod_JOVE}}</td>
                       <!-- <td>{{::Empresa.Telefone}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ExportReporttoExcel').on('click', function () {
            $('.buttons-excel').click()
        });
    });
</script>
