<div class="app-header app-header-design-default">
    <div class="app-heading app-heading-bordered app-heading-page">
        <div class="row">
            <div class="col-md-2 hidden-mobile">
                <div class="icon icon-lg">
                    <!--<span class="icon- "></span>-->
                    <span class="fa fa-warning"></span>
                </div>
                <div class="title">
                    <h1>Erro</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="margin-left:20px;margin-top:20px">
        <h3>{{App_Erro}}</h3>
    </div>

</div>

