<style>
    .inputComercial {
        height: 30px;
    }

    #tbComercial td, #tbComercial th {
        white-space: nowrap;
    }

    #tbComercial td {
        padding: 5px 5px !important;
        white-space: nowrap;
        text-align: center;
    }
        #tbComercial td button{
        margin:0 0 0 0;

    }

    #tbComercial .input-group {
        margin-bottom: 0px;
    }

    .td-insercoes {
        width: 30px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
        text-align: center !important;
    }

    #tbMidia td, #tbMidia th {
        padding: 2px 2px 2px 2px !important;
        text-align: center !important;
        vertical-align: middle !important;
        font-size: 11px !important;
        white-space: nowrap;
        height: 30px !important;
        white-space: nowrap;
    }

        #tbMidia td .form-control {
            height: 30px;
        }

        #tbMidia td .input-group {
            margin: 0px;
            padding:0px 0px 0px 0px;
        }

        #tbMidia td input {
            text-transform: uppercase;
            padding:2px 2px 2px 2px;
        }
        #tbMidia td button{
            margin:0px 0px 0px 0px;
        }
            #tbMidia td input[disabled] {
                background-color: white;
            }
</style>
<div class="container">
    <form name="frmContrato" autocomplete="off">
        <div class="block">
            <!--=====================Dados do Contrato-->
            <div class="row" id="divContrato">
                <div class="alert alert-primary alert-icon-block" role="alert">
                    <strong>
                        1-Dados do Contrato
                        <span ng-show="Contrato.Numero_Mr" style="margin-left:30px">({{Contrato.Cod_Empresa_Venda}}-{{Contrato.Numero_Mr}}-{{Contrato.Sequencia_Mr}})</span>
                        <label class="label label-success pull-right margin-left-10 margin-right-10" ng-show="Contrato.Tem_Fatura">Faturado</label>
                        <label class="label label-info pull-right margin-left-10 margin-right-10" ng-show="Contrato.Comprovado ">Comprovado</label>
                    </strong>
                </div>
            </div>
            <div class="row">
                <!--=======================================Numero Negociacao-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNumeroNegociacao" class="field-x">Negociação</label>
                        <div class="input-group">
                            <input id="txtNumeroNegociacao" class="form-control numeric"
                                   ng-model="Contrato.Numero_Negociacao"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="10"
                                   ng-disabled="!Contrato.Editar_Negociacao || Contrato.Comprovado"
                                   ng-change="NegociacaoChange(Contrato.Numero_Negociacao)" />
                            <div class="input-group-addon" ng-show="Parameters.Action!='Edit'">
                                <div class="app-checkbox" style="width:auto;margin-top:5px">
                                    <label>
                                        <input type="checkbox"
                                               tabindex="-1 "
                                               name="app-checkbox-1"
                                               ng-click="CriarNegociacaoAutomatica(Contrato.Criar_Negociacao)"
                                               ng-model="Contrato.Criar_Negociacao"> &nbsp;&nbsp;Criar Automática<span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--==================Localizar Negociacao-->
                <div class="col-md-2" style="margin-top:35px" >
                    <button class="btn btn-info" tabindex="-1" 
                            ng-disabled="Contrato.Criar_Negociacao" 
                            ng-show="Contrato.Editar_Negociacao" 
                            ng-click="LocalizarNegociacao(Contrato)">Localizar Negociação</button>
                </div>
                <!--==================Numero do Pi-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtNumeroPi" class="field-x">Numero PI</label>
                        <input type="text" id="txtNumeroPi" class="form-control"
                               ng-model="Contrato.Numero_PI"
                               ng-disabled="Contrato.Comprovado"
                               ng-model-options="{updateOn: 'blur'}"
                               maxlength="20" />
                    </div>
                </div>
                <!--==============================================Data Autorizacao-->
                <div class="col-md-2">
                    <div class="dictionary" dictionary="Data" caption="Data Recepção">
                        <input ng-model="Contrato.Data_Recepcao_Reserva"
                               ng-disabled="Contrato.Comprovado"
                               ui-date ng-model-options="{updateOn: 'blur'}">
                        <div class="dictionary-ui-calendar" ui-calendar typdate="Contrato.Data_Recepcao_Reserva"></div>
                    </div>
                </div>
                <!--==================Tipo de Mídia -->
                <div class="col-md-2" ng-controller="dictionaryController">
                    <div class="dictionary" dictionary="TipoMidias" caption="Tipo de Mídia" required>
                        <input id="txtCodTipoMidia"
                               maxlength="10"
                               ng-model="Contrato.Cod_Tipo_Midia"
                               ng-disabled="!Contrato.Editar_Tipo_Midia || Contrato.Comprovado"
                               ng-model-options="{updateOn: 'blur'}"
                               ng-change="DicionaryValidate('txtCodTipoMidia')"
                               primarybind="txtCodTipoMidia">
                    </div>
                </div>
            </div>
            <div class="row">
                <!--==================Empresa de Venda-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtEmpresaVenda" class="field-x fieldrequired">Emp.Venda</label>
                        <div class="input-group">
                            <div class="input-group-addon" ng-show="Contrato.Editar_Empresa_Venda">
                                <span class="fa fa-search span-btn" ng-click="PesquisaNegociacaoTerceiro(Contrato,'empresa_venda')"></span>
                            </div>
                            <input id="txtEmpresaVenda" class="form-control numeric"
                                   ng-disabled="!Contrato.Editar_Empresa_Venda || Contrato.Comprovado"
                                   ng-model="Contrato.Cod_Empresa_Venda"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="3"
                                   ng-change="ValidarNegociacaoTerceiro(Contrato,'empresa_venda','Cod_Empresa_Venda','Nome_Empresa_Venda')" />
                        </div>
                    </div>
                </div>
                <!--==============================================Nome Empresa de Venda-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNomeEmpresaVenda" class="field-x no-visible" ">Razao Social</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-disabled="true"
                                   id="txtNomeEmpresaVenda"
                                   class="form-control "
                                   ng-model="Contrato.Nome_Empresa_Venda">
                        </div>
                    </div>
                </div>
                <!--==================Empresa de Faturamento-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtEmpresaFaturamento" class="field-x fieldrequired">Emp.Fat</label>
                        <div class="input-group">
                            <div class="input-group-addon" ng-show="Contrato.Editar_Empresa_Faturamento">
                                <span class="fa fa-search span-btn" ng-click="PesquisaNegociacaoTerceiro(Contrato,'empresa_faturamento')"></span>
                            </div>
                            <input id="txtEmpresaFaturamento" class="form-control numeric"
                                   ng-model="Contrato.Cod_Empresa_Faturamento"
                                   ng-disabled="!Contrato.Editar_Empresa_Faturamento  || Contrato.Comprovado"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="3"
                                   ng-change="ValidarNegociacaoTerceiro(Contrato,'empresa_faturamento','Cod_Empresa_Faturamento','Nome_Empresa_Faturamento')" />
                        </div>
                    </div>
                </div>
                <!--==============================================Nome Empresa de Faturamento-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNomeEmpresaFaturamento" class="field-x no-visible">Razao Social</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-disabled="true"
                                   id="txtNomeEmpresaFaturamento"
                                   class="form-control "
                                   ng-model="Contrato.Nome_Empresa_Faturamento">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--==============================================Cliente-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtCodCliente" class="field-x fieldrequired">Cliente</label>
                        <div class="input-group">
                            <div class="input-group-addon" ng-show="Contrato.Editar_Cliente">
                                <span class="fa fa-search span-btn" ng-click="PesquisaNegociacaoTerceiro(Contrato,'cliente')"></span>
                            </div>
                            <input id="txtCodCliente" class="form-control"
                                   ng-model="Contrato.Cod_Cliente"
                                   ng-disabled="!Contrato.Editar_Cliente || Contrato.Comprovado"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="6"
                                   style="text-transform:uppercase"
                                   ng-change="ValidarNegociacaoTerceiro(Contrato,'cliente','Cod_Cliente','Nome_Cliente')" />
                        </div>
                    </div>
                </div>
                <!--==============================================Nome Cliente-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNomeCliente" class="field-x no-visible">Razao Social</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-disabled="true"
                                   id="txtNomeCliente"
                                   class="form-control "
                                   ng-model="Contrato.Nome_Cliente">
                        </div>
                    </div>
                </div>
                <!--==============================================Agencia-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtCodAgencia" class="field-x fieldrequired">Agência</label>
                        <div class="input-group">
                            <div class="input-group-addon" ng-show="Contrato.Editar_Agencia">
                                <span class="fa fa-search span-btn" ng-click="PesquisaNegociacaoTerceiro(Contrato,'agencia')"></span>
                            </div>
                            <input id="txtCodAgencia" class="form-control "
                                   ng-model="Contrato.Cod_Agencia"
                                   ng-disabled="!Contrato.Editar_Agencia  || Contrato.Comprovado"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="6"
                                   style="text-transform:uppercase"
                                   ng-change="ValidarNegociacaoTerceiro(Contrato,'agencia','Cod_Agencia','Nome_Agencia')" />
                        </div>
                    </div>
                </div>
                <!--==============================================Nome Agencia-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNomeAgencia" class="field-x no-visible">Razao Social</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-disabled="true"
                                   id="txtNomeAgencia"
                                   class="form-control "
                                   ng-model="Contrato.Nome_Agencia">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--==============================================Nucleo-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtCodNucleo" class="field-x fieldrequired">Núcleo de Vendas</label>
                        <div class="input-group">
                            <div class="input-group-addon" ng-show="Contrato.Editar_Nucleo">
                                <span class="fa fa-search span-btn" ng-click="PesquisaNegociacaoTerceiro(Contrato,'nucleo')"></span>
                            </div>
                            <input id="txtCodNucleo" class="form-control"
                                   ng-model="Contrato.Cod_Nucleo"
                                   ng-disabled="!Contrato.Editar_Nucleo  || Contrato.Comprovado"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="7"
                                   style="text-transform:uppercase"
                                   ng-change="ValidarNegociacaoTerceiro(Contrato,'nucleo','Cod_Nucleo','Nome_Nucleo')" />
                        </div>
                    </div>
                </div>
                <!--==============================================Nome Nucleo-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNomeNucleo" class="field-x no-visible">Nome Nucleo</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-disabled="true"
                                   id="txtNomeNucleo"
                                   class="form-control "
                                   ng-model="Contrato.Nome_Nucleo">
                        </div>
                    </div>
                </div>
                <!--==============================================Contato-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtCodContato" class="field-x fieldrequired">Contato</label>
                        <div class="input-group">
                            <div class="input-group-addon" ng-show="Contrato.Editar_Contato">
                                <span class="fa fa-search span-btn" ng-click="PesquisaNegociacaoTerceiro(Contrato,'contato')"></span>
                            </div>
                            <input id="txtCodContato" class="form-control"
                                   ng-model="Contrato.Cod_Contato"
                                   ng-disabled="!Contrato.Editar_Contato  || Contrato.Comprovado"
                                   ng-model-options="{updateOn: 'blur'}"
                                   maxlength="6"
                                   style="text-transform:uppercase"
                                   ng-change="ValidarNegociacaoTerceiro(Contrato,'contato','Cod_Contato','Nome_Contato')" />
                        </div>
                    </div>
                </div>
                <!--==============================================Nome Contato-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNomeContato" class="field-x no-visible">Nome Contato</label>
                        <div class="input-group">
                            <input type="text"
                                   ng-disabled="true"
                                   id="txtNomeContato"
                                   class="form-control "
                                   ng-model="Contrato.Nome_Contato">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--==============================================Programa Patrocinado-->
                <div class="col-md-2" ng-controller="dictionaryController">
                    <div class="dictionary" dictionary="Programa" caption="Programa Patrocinado">
                        <input id="txtCodPrograma"
                               maxlength="4"
                               ng-model="Contrato.Cod_Programa"
                               ng-disabled="Contrato.Comprovado"
                               ng-model-options="{updateOn: 'blur'}"
                               style="text-transform:uppercase"
                               ng-change="DicionaryValidate('txtCodPrograma')"
                               primarybind="txtCodPrograma">
                    </div>
                </div>
                <!--==============================================Caracteristica do Contrato-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="field-x fieldrequired" for="txtCaracteristicaContrato">Característica</label>
                        <select class="form-control"
                                ng-model="Contrato.Caracteristica_Contrato"
                                ng-disabled="!Contrato.Editar_Caracteristica_Contrato || Contrato.Comprovado"   
                                name="txtCaracteristicaContrato"
                                style="text-transform:uppercase"
                                ng-options="CaracContrato.Codigo as CaracContrato.Descricao for CaracContrato in CaracContrato"></select>
                    </div>
                </div>
                <!--==================Projeto-->
                <div class="col-md-2" ng-controller="dictionaryController">
                    <div class="dictionary" dictionary="Projeto" caption="Projeto">
                        <input id="txtCodProjeto"
                               maxlength="10"
                               ng-model="Contrato.Codigo_Projeto"
                               ng-model-options="{updateOn: 'blur'}"
                               ng-change="DicionaryValidate('txtCodProjeto')"
                               ng-disabled="Contrato.Comprovado"
                               primarybind="txtCodProjeto"
                               extrabind="txtVersaoProjeto">
                    </div>

                </div>
                <!--==================Versao Projeto-->
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="txtVersaoProjeto" class="field-x">Versão</label>
                        <input type="text" id="txtVersaoProjeto" class="form-control numeric"
                               ng-model="Contrato.Versao_Projeto"
                               ng-disabled="Contrato.Comprovado"
                               ng-model-options="{updateOn: 'blur'}"
                               maxlength="3" />
                    </div>
                </div>
                <!--==============================================Abrangencia -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="field-x fieldrequired" for="txtAbrangencia">Abrangência</label>
                        <select class="form-control"
                                id="txtAbrangencia"
                                ng-disabled="!Contrato.Editar_Abrangencia || !Contrato.Cod_Empresa_Venda || !Contrato.Cod_Empresa_Faturamento  || Contrato.Comprovado"
                                ng-model="Contrato.Indica_Grade"
                                name="txtAbrangencia"
                                ng-change="AbrangenciaChange(Contrato)" ;
                                ng-options="Abrangencia.Codigo as Abrangencia.Descricao for Abrangencia in Abrangencia"></select>
                    </div>
                </div>
                <!--==================Mercado-->
                <div class="col-md-3" ng-controller="dictionaryController">
                    <div class="dictionary" dictionary="Mercado" caption="Mercado">
                        <input id="txtCodMercado"
                               maxlength="5"
                               ng-disabled="!Contrato.Editar_Mercado || Contrato.Indica_Grade<1  || Contrato.Comprovado"
                               ng-model="Contrato.Cod_Mercado"
                               ng-model-options="{updateOn: 'blur'}"
                               style="text-transform:uppercase"
                               ng-change="MercadoChange(Contrato)"
                               primarybind="txtCodMercado">
                    </div>
                </div>
            </div>
            <div class="row">
                <!--==============================================Periodo Campanha Inicio-->
                <div class="col-md-3">
                    <div class="dictionary" dictionary="Data" caption="Início Campanha" required>
                        <input ng-model="Contrato.Periodo_Campanha_Inicio"
                               id="TxtPeriodoCampanhaInicio"
                               ng-disabled="(!Contrato.Editar_Periodo_Campanha || !Contrato.Numero_Negociacao  || Contrato.Comprovado) && !Contrato.Criar_Negociacao"
                               ng-change="PeriodoCampanhaChange(Contrato)"
                               ui-date ng-model-options="{updateOn: 'blur'}" />
                        <div class="dictionary-ui-calendar" ui-calendar typdate="Contrato.Periodo_Campanha_Inicio" reference="TxtPeriodoCampanhaInicio"></div>
                    </div>
                </div>
                <!--==============================================Periodo Campanha Término-->
                <div class="col-md-3">
                    <div class="dictionary" dictionary="Data" caption="Término Campanha" required>
                        <input ng-model="Contrato.Periodo_Campanha_Termino" 
                               id="TxtPeriodoCampanhaTermino"
                               ng-disabled="(!Contrato.Editar_Periodo_Campanha || !Contrato.Numero_Negociacao  || Contrato.Comprovado) && !Contrato.Criar_Negociacao"
                               ng-change="PeriodoCampanhaChange(Contrato)"
                               ui-date ng-model-options="{updateOn: 'blur'}">
                        <div class="dictionary-ui-calendar" ui-calendar typdate="Contrato.Periodo_Campanha_Termino" reference="TxtPeriodoCampanhaTermino"></div>
                    </div>
                </div>
                <!--==================Campanha/Produto-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtCampanha" class="field-x">Campanha/Produto</label>
                        <input type="text" id="txtCampanha" class="form-control"
                               ng-model="Contrato.Campanha"
                               ng-disabled="Contrato.Comprovado"
                               ng-model-options="{updateOn: 'blur'}"
                               maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!--==================Obs Contrato-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtObsContrato" class="field-x">Observação para Contrato</label>
                        <textarea id="txtObsContrato" class="form-control" style="min-height:100px"
                                  ng-model="Contrato.Obs_Contrato"
                                   ng-disabled="Contrato.Comprovado"
                                  ng-model-options="{updateOn: 'blur'}"
                                  maxlength="500" />
                    </div>
                </div>
                <!--==================Obs Roteiro-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtVersaoRoteiro" class="field-x">Observação para Roteiro</label>
                        <textarea id="txtVersaoRoteiro" class="form-control" style="min-height:100px"
                                  ng-model="Contrato.Obs_Roteiro"
                                  ng-disabled="Contrato.Comprovado"
                                  ng-model-options="{updateOn: 'blur'}"
                                  maxlength="2000" />
                    </div>
                </div>
            </div>
            <div class="row">

                <!--==================Valor Informado-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtValorInformado" class="field-x">Valor Informado</label>
                        <input type="text" id="txtValorInformado" class="form-control money"
                               ng-model="Contrato.Vlr_Informado"
                               ng-disabled="!Contrato.Editar_Valor_Informado || Contrato.Comprovado"
                               ng-model-options="{updateOn: 'blur'}"
                               maxlength="20" />
                    </div>
                </div>
                <div class="col-md-1"></div>
                <!--==================Midia de Apoio-->
                <div class="col-md-2">
                    <div class="app-checkbox" style="width:auto;margin-top:40px">
                        <label>
                            <input type="checkbox"
                                   name="app-checkbox-1"
                                   ng-disabled="!Contrato.Editar_Midia_Apoio || Contrato.Comprovado"
                                   ng-click="MidiaApoioChange(Contrato.Indica_Apoio)"
                                   ng-model="Contrato.Indica_Apoio"> &nbsp;&nbsp;Midia de Apoio<span></span>
                        </label>
                    </div>
                </div>
                <!--==================Por Conta de Crédito-->
                <div class="col-md-2">
                    <div class="app-checkbox" style="width:auto;margin-top:40px">
                        <label>
                            <input type="checkbox"
                                   name="app-checkbox-1"
                                   ng-disabled="!Contrato.Editar_Conta_Credito "
                                   ng-change="ContaCreditoChange(Contrato.Indica_Por_Credito)"
                                   ng-model="Contrato.Indica_Por_Credito"> &nbsp;&nbsp;Por Conta de Crédito<span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!--======================Dados dos comerciais-->
        <div class="block">
            <div class="row" id="divComercial">
                <div class="alert alert-primary alert-icon-block" role="alert">
                    <strong>2-Comerciais</strong>
                </div>
            </div>
            <div class="row" ng-show="Parameters.Action!='Import' && !Contrato.Comprovado">
                <div class="col-md-12">
                    <button class="btn btn-default btn-icon-fixed btn-sm"
                            ng-click="AdicionarComercial()">
                        <span class="fa fa-plus"></span> Adicionar Comerciais
                    </button>
                </div>
            </div>
            <!--================================Grid dos Comerciais-->
            <div class="table-responsive">
                <table id="tbComercial" class="table table-bordered" style="border:solid 2px #e5e5e5 !important">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Código</th>
                            <th>Titulo</th>
                            <th>Tipo Com.</th>
                            <th>Descrição Tipo</th>
                            <th>Duração</th>
                            <th>Produto</th>
                            <th>Descrição Produto</th>
                            <!--<th>Numero Fita</th>-->
                            <th>A Determinar</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comercial in Contrato.Comerciais track by $index">
                            <td style="max-width:50px">
                                <button class="btn btn-default btn-sm" ng-disabled="comercial.Tem_Veiculacao || Contrato.Comprovado || !comercial.Cod_Comercial" ng-click="RemoverComercial(Contrato,comercial)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                            <td style="width:50px">
                                <div class="input-group" style="min-width:50px">
                                    <input class="form-control inputComercial"
                                           ng-model="comercial.Cod_Comercial"
                                           maxlength="2"
                                           ng-disabled="comercial.Tem_Veiculacao || Contrato.Comprovado"
                                           ng-model-options="{updateOn: 'blur'}"
                                           style="text-transform:uppercase">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control inputComercial"
                                           ng-model="comercial.Titulo_Comercial"
                                           ng-disabled="Contrato.Comprovado"
                                           ng-model-options="{updateOn: 'blur'}"
                                           maxlength="30"
                                           style="text-transform:uppercase">
                                </div>
                            </td>
                            <td style="width:100px">
                                <div class="input-group" style="min-width:100px">
                                    <input class="form-control inputComercial"
                                           ng-model="comercial.Cod_Tipo_Comercial"
                                           ng-model-options="{updateOn: 'blur'}"
                                           maxlength="2"
                                           ng-disabled="comercial.Tem_Veiculacao || Contrato.Comprovado"
                                           ng-change="TipoComercialChange(comercial)"
                                           style="text-transform:uppercase">
                                    <div class="input-group-addon" ng-hide="comercial.Tem_Veiculacao || Contrato.Comprovado">
                                        <span class="fa fa-search span-btn margin-left-10" ng-click="PesquisaTipoComercial(comercial)"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group" style="min-width:50px">
                                    <input class="form-control inputComercial"
                                           ng-model="comercial.Nome_Tipo_Comercial"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-disabled="true"
                                           style="text-transform:uppercase">
                                </div>
                            </td>
                            <td style="width:100px">
                                <div class="input-group" style="min-width:50px">
                                    <input id="txtDuracao"
                                           class="form-control  inputComercial "
                                           ng-model="comercial.Duracao"
                                           ng-disabled="comercial.Tem_Veiculacao || Contrato.Comprovado"
                                           ng-model-options="{updateOn: 'blur'}"
                                           maxlength="3"
                                           onkeypress="return NumericOnly(event)">
                                </div>
                            </td>
                            <td style="width:150px">
                                <div class="input-group" style="min-width:50px">
                                    <input id="txtProduto"
                                           class="form-control inputComercial"
                                           ng-model="comercial.Cod_Red_Produto"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-change="ProdutoChange(comercial)"
                                           ng-disabled="Contrato.Comprovado"
                                           maxlength="10"
                                           onkeypress="return NumericOnly(event)">
                                    <div class="input-group-addon" ng-hide="Contrato.Comprovado">
                                        <span class="fa fa-search span-btn margin-left-10" ng-click="PesquisaProduto(comercial)"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input class="form-control inputComercial"
                                           ng-model="comercial.Nome_Produto"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-disabled="true"
                                           style="text-transform:uppercase">
                                </div>
                            </td>
                            <!--<td style="width:100px">
                                <div class="input-group">
                                    <input class="form-control inputComercial"
                                           ng-model="comercial.Numero_Fita"
                                           ng-model-options="{updateOn: 'blur'}"
                                           style="text-transform:uppercase"
                                           maxlength="10">
                                </div>
                            </td>-->

                            <td style="text-align:center">
                                <div class="app-checkbox" style="margin-top:-25px;margin-left:20px">
                                    <label>
                                        <input type="checkbox"
                                               name="app-checkbox-1"
                                               ng-disabled="Contrato.Comprovado"
                                               ng-model="comercial.Indica_Titulo_Determinar"> <span></span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!--=============================Veiculacoes-->
        <div class="block" ng-hide="Contrato.Comprovado">
            <div class="row" id="divMidia">
                <div class="alert alert-primary alert-icon-block" role="alert">
                    <strong>3-Veiculações</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-icon-fixed btn-sm"
                            ng-disabled="Parameters.Action=='Import' || Contrato.Indica_Grade==0"
                            ng-show="!Contrato.Comprovado"
                            ng-click="SelecionarVeiculos(Contrato)">
                        <span class="fa fa-plus"></span> Selecionar Veículos
                    </button>
                    <div style="display:inline" ng-show="Contrato.Veiculos.length>0">
                        <button class="btn btn-default btn-sm" ng-click="OcultarVeiculo=true" ng-show="!OcultarVeiculo">Ocultar Veículos</button>
                        <button class="btn btn-default btn-sm" ng-click="OcultarVeiculo=false" ng-show="OcultarVeiculo">Mostrar Veículos</button>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-20" ng-show="!OcultarVeiculo">
                <div class="col-md-12">
                    <label class="label label-default" style="display:inline-block;margin-right:5px;margin-left:5px" ng-repeat="veiculo in Contrato.Veiculos track by $index">
                        <span>{{veiculo.Cod_Veiculo}}-{{veiculo.Nome_Veiculo}}</span>
                        <span class="fa fa-times span-btn" style="font-size:13px" ng-click="RemoverVeiculo(veiculo.Cod_Veiculo,Contrato)" ng-hide="Contrato.Indica_Grade<1 || Contrato.Cod_Mercado"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" ng-hide="Contrato.Comprovado">
                    <button class="btn btn-default btn-icon-fixed btn-sm"
                            ng-disabled="Parameters.Action=='Import'"
                            ng-click="AdicionarMidia(Contrato)">
                        <span class="fa fa-plus"></span> Adicionar Mídias
                    </button>
                </div>
                <div class="col-md-9" ng-hide="Contrato.Comprovado">
                    <div class="app-checkbox">
                        <label>
                            <input type="checkbox"
                                   name="app-checkbox-1"
                                   ng-change="ContaCreditoChange(Contrato.Indica_Por_Credito)"
                                   ng-model="Contrato.Indica_Tqp"> &nbsp;&nbsp;Estourar saldo quando não houver espaço (Tqp)<span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-show="Contrato.Veiculacoes.length>0">
                <table class="table table-bordered" id="tbMidia">
                    <thead>
                        <tr class="bg-warning">
                            <th colspan="5">
                                <span ng-show="Contrato.Competencia_Text">{{Contrato.Competencia_Text}}</span>
                            </th>
                            <th class="td-insercoes" ng-repeat="item in Contrato.Veiculacoes[0].Insercoes track by $index">
                                <span style="text-transform:initial;font-size:9px" ng-style="{'color':(item.Dia_Semana=='Dom') ?'Red':'Black'}">
                                    {{item.Dia_Semana}}
                                </span>
                            </th>
                            <th colspan="5"></th>
                        </tr>
                        <tr class="bg-warning">
                            <td></td>
                            <td>Programa</td>
                            <td>Carac.</td>
                            <td>Com</td>
                            <td></td>
                            <td class="td-insercoes" ng-repeat="item in Contrato.Veiculacoes[0].Insercoes track by $index">
                                {{item.Dia}}
                            </td>
                            <td>Qtd Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="veiculacao in Contrato.Veiculacoes track by $index">
                            <td>
                                <button class="btn btn-default btn-sm" ng-disabled="!veiculacao.Permite_Editar" ng-click="RemoverMidia(Contrato,veiculacao)" style="min-width:30px">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input ng-model="veiculacao.Cod_Programa"
                                           style="min-width:70px"
                                           class="form-control"
                                           ng-disabled="!veiculacao.Permite_Editar"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-change="ProgramaChange(veiculacao,Contrato)"
                                           maxlength="4">
                                    <div class="input-group-addon" ng-show="veiculacao.Permite_Editar">
                                        <span class="fa fa-search span-btn" ng-click="SelecionarPrograma(Contrato,veiculacao)"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input ng-model="veiculacao.Cod_Caracteristica"
                                           style="min-width:50px"
                                           class="form-control"
                                           ng-disabled="!veiculacao.Permite_Editar"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-change="CaracVeiculacaoChange(veiculacao)"
                                           maxlength="2">
                                    <div class="input-group-addon" ng-show="veiculacao.Permite_Editar">
                                        <span class="fa fa-search span-btn" ng-click="SelecionarCaracteristica(Contrato,veiculacao)"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input ng-model="veiculacao.Cod_Comercial"
                                           style="min-width:50px"
                                           class="form-control"
                                           ng-disabled="!veiculacao.Permite_Editar"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-change="VeiculacaoComercialChange(Contrato,veiculacao)"
                                           maxlength="2">
                                    <div class="input-group-addon" ng-show="veiculacao.Permite_Editar">
                                        <span class="fa fa-search span-btn" ng-click="SelecionarComercial(Contrato,veiculacao)"></span>
                                    </div>
                                </div>
                            </td>
                            <td style="min-width:30px">
                                <span class="fa fa-plus span-btn" ng-show="veiculacao.Permite_Editar" ng-click="PreencherLinha(veiculacao)"></span>
                            </td>
                            <td class="td-insercoes" ng-repeat="insercao in veiculacao.Insercoes track by $index" style="min-width:35px" ng-style="{'background-color':(insercao.Tem_Grade) ?'#fff':'#f2f2f2'}">
                                <input ng-model="insercao.Qtd"
                                       class="form-control"
                                       style="width:30px;text-align:center;border:none"
                                       ng-disabled="!veiculacao.Permite_Editar"
                                       maxlength="3"
                                       ng-show="insercao.Tem_Grade && insercao.Valido"
                                       onkeypress="return NumericOnly(event)"
                                       ng-change="fnTotalizaVeiculacao(veiculacao)">
                            </td>
                            <td><span> {{veiculacao.Qtd_Total}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--========================botoes de acoes-->
        <div class="row">
            <div class="fixed-buttons-bottom">
                <div class="col-md-10">
                    <button class="btn btn-success" ng-click="SalvarMapaReserva(Contrato)">Salvar</button>
                    <button class="btn btn-warning" ng-click="CancelarMapaReserva(Parameters.Action)">Cancelar</button>
                </div>
                <div class="col-md-2 pull-right hidden-mobile hidden-sm">
                    <button class="btn btn-primary btn-sm anchorscroll" target="divContrato">1</button>
                    <button class="btn btn-primary btn-sm anchorscroll" target="divComercial">2</button>
                    <button class="btn btn-primary btn-sm anchorscroll" target="divMidia">3</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div ng-include="'template/SelectItem.html'"></div>
<div ng-include="'template/PesquisaTabela.html'"></div>
<div ng-include="'template/MultiSelecaoVeiculo.html'"></div>
<script type="text/javascript">
    $(document).ready(function () {
        
        GetDictionary();
        $('.anchorscroll').click(function (e) {
            var _target = this.getAttribute("target")
            $('html, body').animate({
                scrollTop: $('#' + _target).offset().top - 50
            }, 'slow');
        });
        $('input[type=text]').css("text-transform", "uppercase");

        $("span[control_group*='icon_group']").click(function (e) {
            var _group = this.getAttribute("control_group");
            _group = _group.replace('icon', 'input');
            var el = document.querySelector('[control_group="' + _group + '"]');
            if ($(el).is(':disabled')) {
                event.stopPropagation();
            };
        });
        
    });

</script>
