

<style>
        #divCadatro{
    }
    #divItem {
        border: solid 1px black;
        height: 70px;
        width: 250px;
        background-color:black;
        font-weight: bolder;
        display:inline-grid;
        margin: 10px 10px 10px 10px;
        align-content:center;
        text-align:center;
        text-decoration:none;
        border-radius: 20px 20px 20px 20px;
    }z
        #divItem a {
            color: white !important;
            text-decoration:none;
        }
    #divItem:hover
    {
        /*background-color: #F5F5F5;*/
        background-color: #e79500;
        color:white;
        cursor:pointer;
        
    }
</style>

<div class="container container-fluid">
    <div class="block">
        <div id="divCadatro">
            <!--<div id="divItem"  ng-repeat="cadastro in Cadastros | orderBy: 'Title'">
                <a href="#{{cadastro.Link}}" >{{cadastro.Title}} </a>
            </div>-->
            <a id="divItem"  href="#{{cadastro.Link}}" ng-repeat="cadastro in Cadastros | orderBy: 'Title'">{{cadastro.Title}} </a>
        </div>
    </div>
</div>
