

<style>
        #divCadatro{
        
    }
    #divItem {
        border: solid 1px black;
        height: 70px;
        width: 250px;
        background-color: black;
        font-weight: bolder;
        display:inline-grid;
        margin: 10px 10px 10px 10px;
        align-content:center;
        text-align:center;
        /*border-radius: 15px 15px 15px 15px;*/
    }

    #divItem:hover
    {
        background-color: #F5F5F5;
        cursor:pointer;
    }
</style>

<div class="container container-fluid">
    <div class="block">
        <div id="divCadatro">
            <div id="divItem"  ng-repeat="cadastro in Cadastros | orderBy: 'Title'">
                <a href="#{{cadastro.Link}}">{{cadastro.Title}} </a>
            </div>
        </div>
    </div>
</div>
