<div class="app-sidepanel scroll" data-overlay="show">
    <div ng-include="'view/portal.html'"></div>
    <!--<div class="container" style="max-height:800px;overflow:auto">
        <div class="container" >
            <div class="app-heading app-heading-condensed app-heading-small padding-left-0">
                <div class="icon icon-lg">
                    <span class="icon-alarm"></span>
                </div>
                <div class="title">
                    <h2>Mensagens</h2>
                    <p><strong> {{ (Mensagens).length }} ( {{ (Mensagens | filter : { Status: 'Nova' } : true).length }} nova(s))</strong> </p>
                </div>
            </div>
            <div class="listing margin-bottom-10" style="border-bottom:groove 1px" ng-repeat="Mensagem in Mensagens">
                <div class="listing-item margin-bottom-10">
                    <strong>Mensagem {{$index+1}} </strong>
                    <span style="width:100px"  ng-class="Mensagem.Status=='Nova' ? 'label label-danger pull-right' : 'label label-success pull-right' ">{{Mensagem.Status}}</span>
                    <p class="margin-0 margin-top-5">
                        {{Mensagem.Mensagem}}
                    </p>
                    <p class="text-muted">
                        <span class="fa fa-check margin-right-5"></span> Enviada por {{Mensagem.Remetente}} em {{Mensagem.Data | date:'dd/MM/yy hh:mm:ss'}}
                    </p>
                    <p class="text-muted">
                        <label ng-show="Mensagem.Status =='Nova' && Mensagem.Mensagem_Id !=0" ng-click="VistoMensagem(Mensagem.Mensagem_Id)" class="label label-success label-button" style="cursor:pointer">Marcar como Lida</label>
                        <label ng-show="Mensagem.Status =='Lida'" class="label label-warning label-button" ng-click="RemoverMensagem(Mensagem.Mensagem_Id)" style="cursor:pointer">Excluir Mensagem</label>

                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-block" ng-click="CloseSidePanel()">Fechar</button>
        </div>
    </div>-->
</div>
<div class="app-overlay"></div>