<div class="container">
    <div class="block">
        <button id="btnSair" class="hidden" ng-click="DetalheSair()"></button>
        <!--==============================================Grid -->
        <div class="box table-responsive " style="min-height:600px">
            <table id="dataTable" class="table table-striped table-bordered " cellspacing="0">
                <thead>
                    <tr>
                        <th>Contrato</th>
                        <th>Mês Campanha</th>
                        <th>Emp.Fat</th>
                        <th>Agência</th>
                        <th>Cliente</th>
                        <th>Contato</th>
                        <th>Tipo de Mídia</th>
                        <th>Abrangência</th>
                        <th>Valor Tabela</th>
                        <th>Valor Negociado</th>
                        <th>Vlr Faturado</th>
                        <th>Desconto Real</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contrato in Contratos track by $index" on-finish-render="ngRepeatFinished">
                        <td>{{::contrato.Contrato}}</td>
                        <td>{{::contrato.Mes_Campanha}}</td>
                        <td>{{::contrato.Cod_Empresa_Faturamento}}</td>                        
                        <td>{{::contrato.Cod_Agencia}} - {{::contrato.Nome_Agencia}}</td>                        
                        <td>{{::contrato.Cod_Cliente}} - {{::contrato.Nome_Cliente}}</td>                        
                        <td>{{::contrato.Cod_Contato}} - {{::contrato.Nome_Contato}}</td>                        
                        <td>{{::contrato.Cod_Tipo_Midia}}</td>                        
                        <td>{{::contrato.Abrangencia}}</td>                        
                        <td style="text-align:right;white-space:nowrap">{{::contrato.Contrato_Valor_Tabela| currency:"R$ ":2}}</td>
                        <td style="text-align:right;white-space:nowrap">{{::contrato.Contrato_Valor_Negociado| currency:"R$ ":2}}</td>
                        <td style="text-align:right;white-space:nowrap">{{::contrato.Valor_Faturado| currency:"R$ ":2}}</td>
                        <td style="text-align:left">{{contrato.Contrato_Valor_Faturado | percentage:4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetDictionary();
    });
</script>
