<div class="container">
    <form name="frmTipoMidiaCadastro" autocomplete="off">
        <div class="block">
            <div class="row">
                <!--===================Codigo-->
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="fieldrequired">Código</label>
                        <input type="text"
                               name="txtCod_Tipo_Midia"
                               ng-required="true"
                               ng-model="TipoMidia.Cod_Tipo_Midia"
                               class="form-control"
                               ng-disabled="Parameters.Action=='Edit'"
                               ng-model-options="{updateOn: 'blur'}"
                               maxlength="6" />
                    </div>
                </div>
                <!--===================Descricao-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="fieldrequired">Descricao</label>
                        <input type="text" name="txtDescricao" class="form-control" ng-model="TipoMidia.Descricao" maxlength="30" ng-required="true" />
                    </div>
                </div>
            </div>

            <!--====================Fatura Antecipada-->
            <div class="col-md-2 margin-top-10">
                <div class="form-group">
                    <div class="input-group">
                        <div class="app-checkbox">
                            <label><input type="checkbox" name="app-checkbox-1" ng-model="TipoMidia.Fatura_Antecipada" />Fatura Antecipada<span></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--====================Gera Receita-->
                <div class="col-md-2 margin-top-10">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="app-checkbox">
                                <label><input type="checkbox" name="app-checkbox-1" ng-model="TipoMidia.Gera_Receita" />Gera Receita<span></span></label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--====================TipoComercial.Indica_Midia_On_Line-->
                <div class="col-md-2 margin-top-10">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="app-checkbox">
                                <label><input type="checkbox" name="app-checkbox-1" ng-model="TipoMidia.Indica_Midia_Online" /> Midia_On_Line<span></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="row">
                <!--===================Botoes-->
                <div class="fixed-buttons-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success" ng-click="SalvarTipoMidia(TipoMidia)"
                                    ng-disabled="frmTipoMidiaCadastro.$invalid">
                                Salvar
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="excluirtipomidia(TipoMidia)" ng-show="Parameters.Action=='Edit'" ng-disabled="!PermissaoDelete">Excluir</button>
                            <a href="#TipoMidia" class="btn btn-warning">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div ng-include="'template/SelectItem.html'"></div>
<script type="text/javascript">
        $(document).ready(function () {
            GetDictionary();
        });
</script>
