

<div class="app-content">
    <div class="container">
        <div class="col-md-12">
            <div class="alert alert-info alert-icon-block alert-dismissible" role="alert">
                <div class="alert-icon">
                    <span class="icon-checkmark-circle"></span>
                </div>
                <strong>Atenção!</strong> Seu Perfil não tem acesso a essa pagina. Contacte o Administrador do Sistema !
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-times"></span></button>
            </div>
        </div>

    </div>

</div>


