<div class="modal fade" id="modal-Table" tabindex="-1" role="dialog" aria-labelledby="modal-warning-header" ng-controller="dictionaryController">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-info-header">Consulta de Tabelas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" style="color:#fff"></span></button>
            </div>
            <div class="modal-body">
                <div class="app-header-buttons" ng-show="loading" style="margin-left:50%">
                    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
                </div>
                <div ng-show="!loading">
                    <div class="row" ng-show="filteredSelect.length>0">
                        <div class="col-md-11" style="margin-bottom:10px;margin-left:10px">
                            <input class="form-control input-sm" type="text" ng-model="filtrotexto" placeholder="Pesquisar" />
                        </div>
                    </div>
                    <div style="margin-bottom:10px" ng-show="!filteredSelect.length">
                        <p style="text-align:center"> Nenhum registro disponível para essa pesquisa</p>
                    </div>

                    <div style="max-height:400px;overflow-y:auto;overflow-x:hidden;border:solid 1px #f5f5f5">
                        <div ng-repeat="datarow in filteredSelect = (dictionaryTable| filter:filtrotexto  ) track by $index">

                            <div ng-if="!MultiSelect">
                                <div class="col-md-2">
                                    <label class="itemselect" ng-click="ItemSelectClickId(datarow.Codigo,datarow.Descricao,elementToBind)"> {{datarow.Codigo}}</label>
                                </div>
                                <div class="col-md-10">
                                    <label class="itemselect" ng-click="ItemSelectClickId(datarow.Codigo,datarow.Descricao,elementToBind)"> {{datarow.Descricao}}</label>
                                </div>
                            </div>

                            <div ng-if="MultiSelect">
                                <div class="col-md-3">
                                    <input type="checkbox" ng-model="datarow.Value"><span style="margin-left:10px">{{datarow.Codigo}}</span>
                                </div>
                                <div class="col-md-9">
                                    <label class="itemselect" ng-click="(datarow.Value = !datarow.Value)"> {{datarow.Descricao}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div style="max-height:400px;overflow-y:auto;overflow-x:hidden;border:solid 1px #f5f5f5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="datarow in filteredSelect = (dictionaryTable| filter:filtrotexto  ) track by $index" style="border-top:none !important">
                                    <td style="line-height:10px">{{datarow.Codigo}}</td>
                                    <td style="line-height:10px">{{datarow.Descricao}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>-->
                </div>
            </div>
            <div class="modal-footer">
                <button ng-if="MultiSelect" class="btn btn-primary" ng-click="Marcar(true)">Marcar Todos</button>
                <button ng-if="MultiSelect" class="btn btn-primary" ng-click="Marcar(false)">Desmarcar Todos</button>
                <button ng-if="MultiSelect" class="btn btn-success" ng-click="ItemSelectClickOk()">Ok</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancela</button>
            </div>
        </div>
    </div>
</div>
