
<ul id="CalendarMesAno" class="dropdown-menu" style="width:250px;right:0">
    <li>
        <div>
            <span ng-show="params.First" class="margin-left-20">De {{params.First.toString().substr(4,2) + '/'+params.First.toString().substr(0,4)}}</span>
            <span ng-show="params.Last" class="margin-left-20">Até {{params.Last.toString().substr(4,2) + '/'+params.Last.toString().substr(0,4)}}</span>
        </div>
        <div class="row">
            <div class="col-md-12">

                <table class="table table-competencia">
                    <thead>
                        <tr>
                            <th class="CalendarMesAnocontent"><a href="" ng-click="addYear(-1)"><span class="icon-arrow-left " style="color:black;margin-top:-10px" ng-show="PreviousYear()"></span></a></th>
                            <th class="CalendarMesAnocontent"><h4>{{params.Year}}</h4></th>
                            <th class="CalendarMesAnocontent"><a href="" ng-click="addYear(1  )"><span class="icon-arrow-right" style="color:black;margin-top:-10px" ng-show="NextYear()"></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button class="btn" ng-click="ClickOnDate(1,params.Year)" ng-disabled="!MesValido(1)">JAN</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(2,params.Year)" ng-disabled="!MesValido(2)">FEV</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(3,params.Year)" ng-disabled="!MesValido(3)">MAR</button></td>
                        </tr>
                        <tr>
                            <td><button class="btn" ng-click="ClickOnDate(4,params.Year)" ng-disabled="!MesValido(4)">ABR</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(5,params.Year)" ng-disabled="!MesValido(5)">MAI</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(6,params.Year)" ng-disabled="!MesValido(6)">JUN</button></td>
                        </tr>
                        <tr>
                            <td><button class="btn" ng-click="ClickOnDate(7,params.Year)" ng-disabled="!MesValido(7)">JUL</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(8,params.Year)" ng-disabled="!MesValido(8)">AGO</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(9,params.Year)" ng-disabled="!MesValido(9)">SET</button></td>
                        </tr>
                        <tr>
                            <td><button class="btn" ng-click="ClickOnDate(10,params.Year)" ng-disabled="!MesValido(10)">OUT</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(11,params.Year)" ng-disabled="!MesValido(11)">NOV</button></td>
                            <td><button class="btn" ng-click="ClickOnDate(12,params.Year)" ng-disabled="!MesValido(12)">DEZ</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary btn-block">Cancelar</button>
    </li>
</ul>
