
<div class="container">
    <div class="block">
        <button id="btnNovaSimulacao" ng-click="NovaSimulacao()"  style="display:none">mostrar filtro</button>
        <!--==============================================Filtros-->

        <!--==============================================Grid -->
        <div class="box table-responsive " style="min-height:600px" ng-show="CurrentShow=='Grid'">
            <table id="dataTable" class="table table-striped table-bordered " cellspacing="0" >
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Identificação</th>
                        <th>Período</th>
                        <th>Valor Tabela</th>
                        <th>Valor Negociado</th>
                        <th>Desconto Real</th>
                        <th>Autor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Simulacao in Simulacoes track by $index" on-finish-render="ngRepeatFinished">
                        <td style="max-width:120px;white-space:nowrap">
                            <a href="#SimulacaoCadastro/:Edit/{{Simulacao.Id_Simulacao}}" class="btn btn-default btn-sm"><span class="fa fa-edit  fa-crud"></span></a>
                            <!--<button  disabled ="disabled" class="btn btn-default btn-sm"><span class="fa fa-trash fa-crud"></span></button>
                            <button class="btn btn-default btn-sm"><span class="fa fa-binoculars fa-crud"></span></button>-->
                        </td>
                        <td style="text-align:center">{{::Simulacao.Id_Simulacao}}</td>
                        <td>{{::Simulacao.Identificacao}}</td>
                        <td style="text-align:center ">{{::Simulacao.Periodo}}</td>
                        <td style="text-align:right">{{::Simulacao.Valor_Tabela | currency:"R$ ":2}}</td>
                        <td style="text-align:right">{{::Simulacao.Valor_Negociado | currency:"R$ ":2}}</td>
                        <td style="text-align:right">{{::Simulacao.Desconto_Real | percentage:6}}</td>
                        <td>{{::Simulacao.Usuario}}</td>
                        <td style="text-align:center"><label class="label label-info">Digitando</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
